# Exploratory Data Analysis of Natural Disasters Dataset

In [1]:
import pandas as pd

In [2]:
# Create a new DataFrame for films
natural_disasters_df = pd.read_csv("../data/raw/uncleaned-dataset9.csv")

# Display info about the dataframe
natural_disasters_df.head(10)

,disno,historic,classification_key,disaster_group,disaster_subgroup,disaster_type,disaster_subtype,external_ids,event_name,iso,...,reconstruction_costs_000_us,reconstruction_costs_adjusted_000_us,insured_damage_000_us,insured_damage_adjusted_000_us,total_damage_000_us,total_damage_adjusted_000_us,cpi,admin_units,entry_date,last_update
0,1999-9388-DJI,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,DJI,...,NaN,NaN,NaN,NaN,NaN,NaN,56.446576,"[{""adm1_code"":1093,""adm1_name"":""Ali Sabieh""},{...",2006-01-03,2025-01-09
1,1999-9388-SDN,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,SDN,...,NaN,NaN,NaN,NaN,NaN,NaN,54.895152,"[{""adm1_code"":2757,""adm1_name"":""Northern Darfu...",2006-08-03,2025-01-09
2,1999-9388-SOM,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,SOM,...,NaN,NaN,NaN,NaN,NaN,NaN,54.895152,"[{""adm1_code"":2691,""adm1_name"":""Bay""},{""adm1_c...",2006-08-03,2025-01-09
3,2000-0002-AGO,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,AGO,...,NaN,NaN,NaN,NaN,10000.0,18217.0,54.895152,"[{""adm2_code"":4214,""adm2_name"":""Baia Farta""},{...",2005-03-02,2025-01-09
4,2000-0003-BGD,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,NaN,NaN,BGD,...,NaN,NaN,NaN,NaN,NaN,NaN,54.895152,"[{""adm1_code"":575,""adm1_name"":""Barisal""},{""adm...",2003-01-07,2025-01-09
5,2000-0008-GTM,No,nat-geo-vol-ash,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Pacaya,GTM,...,NaN,NaN,NaN,NaN,NaN,NaN,54.895152,"[{""adm2_code"":64911,""adm2_name"":""San Vicente P...",2016-04-07,2025-01-09
6,2000-0009-IRN,No,nat-met-sto-sto,Natural,Meteorological,Storm,Storm (General),NaN,NaN,IRN,...,NaN,NaN,NaN,NaN,NaN,NaN,54.895152,"[{""adm1_code"":1545,""adm1_name"":""Gilan""}]",2003-01-07,2025-01-09
7,2000-0012-MOZ,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,MOZ,...,NaN,NaN,1500.0,2732.0,419200.0,763638.0,54.895152,"[{""adm1_code"":2114,""adm1_name"":""Inhambane""},{""...",2006-04-09,2025-01-09
8,2000-0017-ZAF,No,nat-cli-wil-lan,Natural,Climatological,Wildfire,"Land fire (Brush, Bush, Pasture)",NaN,NaN,ZAF,...,NaN,NaN,8000.0,14573.0,10000.0,18217.0,54.895152,"[{""adm2_code"":77317,""adm2_name"":""City of Cape ...",2005-08-07,2025-01-09
9,2000-0019-BRA,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,BRA,...,NaN,NaN,NaN,NaN,NaN,NaN,54.895152,"[{""adm2_code"":8467,""adm2_name"":""Pirangucu""},{""...",2005-08-07,2025-01-09

# Null Handling

In [3]:
# Check for null values
natural_disasters_df.isnull().sum()

disno                                       0
historic                                    0
classification_key                          0
disaster_group                              0
disaster_subgroup                           0
disaster_type                               0
disaster_subtype                            0
external_ids                             6450
event_name                               7882
iso                                         0
country                                     0
subregion                                   0
region                                      0
location                                  434
origin                                   6382
associated_types                         6963
ofda_bha_response                           0
appeal                                      0
declaration                                 0
aid_contribution_000_us                  9956
magnitude                                7109
magnitude_scale                          1097
latitude                                 8604
longitude                                8604
river_basin                              9134
start_year                                  0
start_month                                73
start_day                                1511
end_year                                    0
end_month                                 167
end_day                                  1432
total_deaths                             2962
no_injured                               7452
no_affected                              3470
no_homeless                              9205
total_affected                           1937
reconstruction_costs_000_us             10405
reconstruction_costs_adjusted_000_us    10405
insured_damage_000_us                    9717
insured_damage_adjusted_000_us           9724
total_damage_000_us                      7221
total_damage_adjusted_000_us             7240
cpi                                       177
admin_units                              2066
entry_date                                  0
last_update                                 0
dtype: int64

In [4]:
null_percent = (natural_disasters_df.isnull().mean() * 100)
print(null_percent)

disno                                    0.000000
historic                                 0.000000
classification_key                       0.000000
disaster_group                           0.000000
disaster_subgroup                        0.000000
disaster_type                            0.000000
disaster_subtype                         0.000000
external_ids                            61.805289
event_name                              75.527022
iso                                      0.000000
country                                  0.000000
subregion                                0.000000
region                                   0.000000
location                                 4.158681
origin                                  61.153699
associated_types                        66.720966
ofda_bha_response                        0.000000
appeal                                   0.000000
declaration                              0.000000
aid_contribution_000_us                 95.400537
magnitude                               68.119969
magnitude_scale                         10.511690
latitude                                82.445381
longitude                               82.445381
river_basin                             87.523956
start_year                               0.000000
start_month                              0.699502
start_day                               14.478727
end_year                                 0.000000
end_month                                1.600230
end_day                                 13.721732
total_deaths                            28.382522
no_injured                              71.406669
no_affected                             33.250287
no_homeless                             88.204293
total_affected                          18.560751
reconstruction_costs_000_us             99.702951
reconstruction_costs_adjusted_000_us    99.702951
insured_damage_000_us                   93.110387
insured_damage_adjusted_000_us          93.177463
total_damage_000_us                     69.193177
total_damage_adjusted_000_us            69.375240
cpi                                      1.696052
admin_units                             19.796857
entry_date                               0.000000
last_update                              0.000000
dtype: float64

In [5]:
df1 = natural_disasters_df.drop(
    columns= ['external_ids', 'event_name','origin','associated_types', 'aid_contribution_000_us', 
              'latitude', 'longitude', 'river_basin', 'reconstruction_costs_000_us', 
              'reconstruction_costs_adjusted_000_us','insured_damage_000_us',
              'insured_damage_adjusted_000_us', 'cpi', 'admin_units']   # subset tells dropna which columns to consider
)
df1.columns

Index(['disno', 'historic', 'classification_key', 'disaster_group',
       'disaster_subgroup', 'disaster_type', 'disaster_subtype', 'iso',
       'country', 'subregion', 'region', 'location', 'ofda_bha_response',
       'appeal', 'declaration', 'magnitude', 'magnitude_scale', 'start_year',
       'start_month', 'start_day', 'end_year', 'end_month', 'end_day',
       'total_deaths', 'no_injured', 'no_affected', 'no_homeless',
       'total_affected', 'total_damage_000_us', 'total_damage_adjusted_000_us',
       'entry_date', 'last_update'],
      dtype='object')

In [6]:
null_percent1 = (df1.isnull().mean() * 100)
print(null_percent1)

disno                            0.000000
historic                         0.000000
classification_key               0.000000
disaster_group                   0.000000
disaster_subgroup                0.000000
disaster_type                    0.000000
disaster_subtype                 0.000000
iso                              0.000000
country                          0.000000
subregion                        0.000000
region                           0.000000
location                         4.158681
ofda_bha_response                0.000000
appeal                           0.000000
declaration                      0.000000
magnitude                       68.119969
magnitude_scale                 10.511690
start_year                       0.000000
start_month                      0.699502
start_day                       14.478727
end_year                         0.000000
end_month                        1.600230
end_day                         13.721732
total_deaths                    28.382522
no_injured                      71.406669
no_affected                     33.250287
no_homeless                     88.204293
total_affected                  18.560751
total_damage_000_us             69.193177
total_damage_adjusted_000_us    69.375240
entry_date                       0.000000
last_update                      0.000000
dtype: float64

In [ ]:


df2 = natural_disasters_df.dropna(axis=1, thresh=10000).copy()
df3 = df2.dropna(subset=["location", "start_month", "end_month", "cpi" ]).copy()
df3
print("Notebook input:", natural_disasters_df.shape)
print("Notebook input:", df3.shape)

Notebook input: (10436, 46)
Notebook input: (9659, 22)

(10436, 22)

In [42]:
null_percent1 = (df2.isnull().mean() * 100)
print(null_percent1)

disno                 0.000000
historic              0.000000
classification_key    0.000000
disaster_group        0.000000
disaster_subgroup     0.000000
disaster_type         0.000000
disaster_subtype      0.000000
iso                   0.000000
country               0.000000
subregion             0.000000
region                0.000000
location              4.158681
ofda_bha_response     0.000000
appeal                0.000000
declaration           0.000000
start_year            0.000000
start_month           0.699502
end_year              0.000000
end_month             1.600230
cpi                   1.696052
entry_date            0.000000
last_update           0.000000
dtype: float64

In [71]:
df3 = df2.dropna(subset=["location", "start_month", "end_month", "cpi" ]).copy()

In [50]:
len(df3) #dropped 8% of data

9659

In [51]:
null_percent1 = (df3.isnull().mean() * 100)
print(null_percent1)

disno                 0.0
historic              0.0
classification_key    0.0
disaster_group        0.0
disaster_subgroup     0.0
disaster_type         0.0
disaster_subtype      0.0
iso                   0.0
country               0.0
subregion             0.0
region                0.0
location              0.0
ofda_bha_response     0.0
appeal                0.0
declaration           0.0
start_year            0.0
start_month           0.0
end_year              0.0
end_month             0.0
cpi                   0.0
entry_date            0.0
last_update           0.0
dtype: float64

In [52]:
df3.to_csv("../data/raw/notebook-cleaned-dataset9.csv", index=False)

In [6]:
# lets identify the amount of nulls and put them into a data frame 
# feel free to copy paste 

def null_vals(dataframe):
    '''function to show both number of nulls and the percentage of nulls in the whole column'''
    null_vals = dataframe.isnull().sum() ## How many nulls in each column
    total_cnt = len(dataframe) ## Total entries in the dataframe
    null_vals = pd.DataFrame(null_vals,columns=['null']) ## Put the number of nulls in a single dataframe
    null_vals['percent'] = round((null_vals['null']/total_cnt)*100,3) ## Round how many nulls are there, as %, of the df
    
    return null_vals.sort_values('percent', ascending=False)

null_vals(natural_disasters_df)

                                       null  percent
reconstruction_costs_000_us           10405   99.703
reconstruction_costs_adjusted_000_us  10405   99.703
aid_contribution_000_us                9956   95.401
insured_damage_adjusted_000_us         9724   93.177
insured_damage_000_us                  9717   93.110
no_homeless                            9205   88.204
river_basin                            9134   87.524
latitude                               8604   82.445
longitude                              8604   82.445
event_name                             7882   75.527
no_injured                             7452   71.407
total_damage_adjusted_000_us           7240   69.375
total_damage_000_us                    7221   69.193
magnitude                              7109   68.120
associated_types                       6963   66.721
external_ids                           6450   61.805
origin                                 6382   61.154
no_affected                            3470   33.250
total_deaths                           2962   28.383
admin_units                            2066   19.797
total_affected                         1937   18.561
start_day                              1511   14.479
end_day                                1432   13.722
magnitude_scale                        1097   10.512
location                                434    4.159
cpi                                     177    1.696
end_month                               167    1.600
start_month                              73    0.700
classification_key                        0    0.000
disno                                     0    0.000
region                                    0    0.000
subregion                                 0    0.000
country                                   0    0.000
iso                                       0    0.000
disaster_subtype                          0    0.000
disaster_group                            0    0.000
disaster_subgroup                         0    0.000
disaster_type                             0    0.000
historic                                  0    0.000
end_year                                  0    0.000
appeal                                    0    0.000
declaration                               0    0.000
ofda_bha_response                         0    0.000
start_year                                0    0.000
entry_date                                0    0.000
last_update                               0    0.000

In [8]:
clean_df = natural_disasters_df.dropna(axis=1, thresh=10000)

In [10]:
null_vals(clean_df)
len(clean_df)

10436

In [11]:
cropped_df = natural_disasters_df.dropna()

In [16]:
print("Original rows:", len(natural_disasters_df))
print("Cropped rows:", len(cropped_df))

Original rows: 10436
Cropped rows: 0

# Duplicates

In [7]:
# Check for any duplicates in the DataFrame
natural_disasters_df.duplicated().sum()

np.int64(0)

In [54]:
df3.duplicated().sum()

np.int64(0)

# Type Checking

In [62]:
# Show the different data types in the disaster_subgroup
dataset9_types = natural_disasters_df['disaster_subgroup'].map(type).unique()
print(f'Different data types in disaster_subgroup column: {dataset9_types}')

Different data types in disaster_subgroup column: [<class 'str'>]

# Regex

In [72]:
invalid_start_years = df3[~df3['start_year'].astype(str).str.fullmatch(r'\d{4}')]
invalid_end_years = df3[~df3['end_year'].astype(str).str.fullmatch(r'\d{4}')]

print("Invalid start years:")
print(invalid_start_years['start_year'])

print("\nInvalid end years:")
print(invalid_end_years['end_year'])

Invalid start years:
Series([], Name: start_year, dtype: int64)

Invalid end years:
Series([], Name: end_year, dtype: int64)

# Date format

In [12]:
df3.columns

Index(['disno', 'historic', 'classification_key', 'disaster_group',
       'disaster_subgroup', 'disaster_type', 'disaster_subtype', 'iso',
       'country', 'subregion', 'region', 'location', 'ofda_bha_response',
       'appeal', 'declaration', 'start_year', 'start_month', 'end_year',
       'end_month', 'cpi', 'entry_date', 'last_update'],
      dtype='object')

In [13]:
# Show the different date formats 
unique_date_formats = df3['entry_date'].unique()
print(f'Different date formats in last_update: {unique_date_formats}')

Different date formats in last_update: ['2005-03-02' '2003-01-07' '2016-04-07' ... '2027-04-03' '2025-01-03'
 '2026-05-10']